<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
      <form action="/removestudent">
   <h3>SEARCH STUDENT</h3>
   
    <hr>
 <label for="rollno"><b>Roll No</b></label>
    <input type="text" placeholder="Enter Rollno To Delete" name="rollno" id="rollno" required>

    <button type="submit" class="registerbtn">DELETE STUDENT</button>
     <button class="back-home" id="back">
    <a href="./index">&#8592;</a>
    </button>
    {{#if dmsg1}}
    <h3>Deleted Successfully</h3>
    {{/if}}
    {{#if dmsg2}}
    <h3>No such data found</h3>
    {{/if}}
    <br>
    </form>
  </div>
  <script>
    const back = document.getElementById('back');
    back.addEventListener("click",function(){
        window.location.href="http://localhost:8005/index"
    })
</script>
</body>
</html>