* {
    box-sizing: border-box;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.back-home a{ 
    text-decoration: none;
    color:white;
}
.back-home{
    background-color: rgb(109, 5, 5);
    margin: 8px 0;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
    .back-home:hover{
        background-color: rgb(131, 5, 5);
    }
/* Add padding to containers */

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 249, 249);
    position: relative;
}

.container {
    background-color:green;
    width: 500px;
    position: absolute;
    left: 35%;
    padding: 10px;
    top: 10%;
    border-radius: 2px;
    border:none;    
}


/* Full-width input fields */

input[type=text],
input[type=phone],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background:rgb(255, 255, 255);
}
input{
    color:black;
}
input::placeholder{
    color:rgb(22, 22, 22);
}

input[type=text]:focus,
input[type=phone]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color:white;
    outline: none;
}


/* Set a style for the submit button */

.registerbtn {
    background-color: rgb(16, 21, 0);
    color: white;
    border-radius: 4px;
    margin: 8px 0;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

/* .signin {
    background-color: #000000;
    text-align: center;
} */

.gender_g {
    display: flex;
}